<div class="content">
        <div class="container">
 
  <div class="jumbotron" style="background-color:#f">
    <div align="center">
    
		 
      <h3>Sunucu Seçimi</h3>
      <h5>Yönetmek istediğiniz sunucuya tıklayın</h5>
      
      <% user.guilds.forEach((sunucu) => {
        const permsOnGuild = new perms(sunucu.permissions);
        if(!permsOnGuild.has("MANAGE_GUILD")) return;
        
      %>
      <%
      
      let link, eklenmemis;
      
      if (bot.guilds.has(sunucu.id) === true) {
        link = `/dashboard/${sunucu.id}/yonet`
      } else {
        
        link = `https://discordapp.com/oauth2/authorize?client_id=612726771632308225&scope=bot&permissions=8&guild_id=`+sunucu.id+``
        
        eklenmemis = true
      }
      %>
      <% if (sunucu.icon) { %>
      <a href="<%=link%>" target="<%if(eklenmemis === true) {%>_blank<%} else {  }%>"><img title="<%=sunucu.name%>" class="rounded-circle" src="<%= `https://cdn.discordapp.com/icons/${sunucu.id}/${sunucu.icon}.png?size=128` %>" style="width: 80px;"></a>
		  <% } else { %>
      
      <a href="<%=link%>"><canvas title="<%=sunucu.name%>" style="width: 80px;background-color:#363940;" class="rounded-circle"  id="<%= sunucu.name.split(' ').join('').replace(`'`, ``) %>" width="80px" height="80px" ></canvas></a>
		  <script>
        function draw() {
        const ctx = document.getElementById("<%= sunucu.name.split(' ').join('').replace(`'`, ``) %>").getContext('2d');
			  ctx.font = '20px Arial';
			  ctx.textAlign = "center";
			  ctx.fillStyle = "white";
			  ctx.fillText("<%= sunucu.name.split(' ').map(v => v[0]).join('') %>", 40, 48);
        document.getElementById("<%= sunucu.name.split(' ').join('').replace(`'`, ``) %>").style.marginBottom = "-35px";
        };
        draw();
		  </script>
		<% } %>
    <% }); %> 
      <br><br>
         <a href="anasayfa" button style="background-color:orange; color:#fff" type="sumbit" id="formbtn" class="btn btn-default"> <i aria-hidden="true"></i> Geri Dön</button> </a>    </div>
  
    </div>
  </div>
  
  <script src="/css/js/jquery.min.js"></script>
  <script src="/css/js/popper.min.js"></script>
  <script src="/css/js/bootstrap-material-design.min.js"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="/css/js/perfect-scrollbar.jquery.min.js"></script>

  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <script src="/css/js/chartist.min.js"></script>
 
  <script src="/css/js/bootstrap-notify.js"></script>
 
  <script src="/css/js/material-dashboard.js?v=2.1.0"></script>
    

  <script src="/css/js/demo.js"></script>

 